<link
  rel="shortcut icon"
  href="{{ '/assets/icons/favicon.ico'      | relative_url }}"
/>
<link rel="icon" href="{{ '/assets/icons/favicon.ico'      | relative_url }}" />
<link
  rel="apple-touch-icon"
  href="{{ '/assets/icons/apple-icon-180x180.png' | relative_url }}"
/>

<!-- tipuesearch -->

<!--slick-->
<link rel="stylesheet" type="text/css" href="/assets/css/slick/slick.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/css/slick/slick-theme.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/assets/css/slick/slick.min.js"></script>

<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<script src="/assets/js/sidebar-folder.js"></script>
